{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-emotion"],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./components",
          "styles": "./styles",
          "utils": "./utils"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
